<a href="https://colab.research.google.com/github/matiasleivar/EjercicioMachineLearning/blob/main/CarsMachineLearningExcersise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
data = pd.read_csv('car.csv', header = None)

In [ ]:
data.columns = ['price', 'maintenance', 'n_doors', 'capacity','size_lug', 'safety', 'class']

In [ ]:
data.sample(3)

     price maintenance n_doors capacity size_lug safety  class
923    med       vhigh       4        2      med   high  unacc
1220   med         low       3        2      med   high  unacc
725   high         med       4     more      med   high    acc

In [ ]:
data.price.replace(('vhigh', 'high','med','low'), (4,3,2,1), inplace = True)
data.maintenance.replace(('vhigh', 'high','med','low'), (4,3,2,1), inplace = True)
data.n_doors.replace(('2', '3','4','5more'), (1,2,3,4), inplace = True)
data.capacity.replace(('2', '4','more'), (1,2,3), inplace = True)
data.size_lug.replace(('small', 'med','big'), (1,2,3), inplace = True)
data.safety.replace(('low', 'med','high'), (1,2,3), inplace = True)

In [ ]:
data['class'].replace(('unacc','acc','good','vgood'), (1,2,3,4), inplace = True)

In [ ]:
data.head()

   price  maintenance  n_doors  capacity  size_lug  safety  class
0      4            4        1         1         1       1      1
1      4            4        1         1         1       2      1
2      4            4        1         1         1       3      1
3      4            4        1         1         2       1      1
4      4            4        1         1         2       2      1

Recomendación de Division de datos

*   80% Aprendizaje
*   20% Pruebas

In [ ]:
dataset = data.values
X = dataset[:, 0:6]
Y = np.asarray(dataset[:,6], dtype = 'S6')

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [ ]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y, test_size = 0.2, random_state = 0)

In [ ]:
tr = tree.DecisionTreeClassifier(max_depth = 10)

In [ ]:
tr.fit(X_Train, Y_Train)

DecisionTreeClassifier(max_depth=10)

In [ ]:
y_pred = tr.predict(X_Test)

In [ ]:
y_pred

array([b'2', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'1',
       b'2', b'2', b'1', b'2', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

In [ ]:
score = tr.score(X_Test, Y_Test)

In [ ]:
print('Precisión: %0.4f' % (score) )

Precisión: 0.9740